{% extends 'adminbase.html.twig' %}

{% block title %}Setting index{% endblock %}

{% block body %}
<div class="dashboard-wrapper">
    <div class="container-fluid dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <h1>Setting index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Company</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for setting in settings %}
            <tr>
                <td>{{ setting.id }}</td>
                <td>{{ setting.title }}</td>
                <td>{{ setting.company }}</td>
                <td>{{ setting.status }}</td>
                <td>
                    <a href="{{ path('setting_show', {'id': setting.id}) }}"class="btn btn-info btn-xs">show</a>
                    <a href="{{ path('setting_edit', {'id': setting.id}) }}"class="btn btn-info btn-xs">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="20">no records found</td>
                <a href="{{ path('setting_new') }}"class="btn btn-success btn-xs">Create new</a>
            </tr>
        {% endfor %}
        </tbody>
    </table>


            </div>
        </div>
    </div>
</div>
{% endblock %}
