{% extends 'adminbase.html.twig' %}

{% block title %}Siparis index{% endblock %}

{% block body %}
    <SCRIPT language="JavaScript" type="text/javascript">
        function openWin(windowURL,windowName,windowFeatures) {window.open(windowURL, windowName, windowFeatures);}


    </SCRIPT>
<div class="dashboard-wrapper">
    <div class="container-fluid dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <h1>Siparis Listeleme</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Category</th>
                <th>Title</th>
                <th>Keywords</th>
                <th>Descriptions</th>
                <th>Adress</th>
                <th>Price</th>
                <th>İmage</th>
                <th>Detail</th>
                <th>Status</th>
                <th>I.Gallery</th>
                <th>User</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for siparis in siparis %}
            <tr>
                <td>{{ siparis.id }}</td>
                <td>{{ siparis.catname }}</td>
                <td>{{ siparis.title }}</td>
                <td>{{ siparis.keywords }}</td>
                <td>{{ siparis.descriptions }}</td>
                <td>{{ siparis.adress }}</td>
                <td>{{ siparis.price }}</td>
                <td><img src="{{asset('uploads/images/'~siparis.image) }}"height="50" width="50"></td>
                <td>{{ siparis.detail }}</td>

                <td>{{ siparis.status }}</td>
                <td>
                    <a href="javascript:openWin('{{ path('admin_image_new', {'id': siparis.id}) }}','','toolbar=no,location=no,directories=0,status=0,top=50,left=100,menuBar=no,scrollBars=yes,resizable=no,width=600,height=700'); ">
                     <img src="{{asset('assets/admin/img')  }}/gallery.png" height="30">

                    </a>
                </td>
                <td><a href="{{ path('admin_user_show', {'id': siparis.userid}) }}">{{ siparis.name }}  {{ siparis.surname }}</a></td>

                <td>
                    <a href="{{ path('admin_siparis_show', {'id': siparis.id}) }}" class="btn btn-info btn-xs">show</a>
                    <a href="{{ path('admin_siparis_edit', {'id': siparis.id}) }}" class="btn btn-info btn-xs">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_siparis_new') }}"class="btn btn-success btn-xs">Create new</a>
            </div>
        </div>
    </div>
</div>

    {% endblock %}
